@import 'reset';
@import 'fonts';

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-wrapper {
    background: url('../img/header-background.jpg');
    background-size: cover;
    background-position: bottom;
    padding-bottom: 400px;

    .olender-header {
        .top-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .menu {
                margin: 40px 0 100px 0;
                text-align: center;

                a {
                    font-family: 'Roboto', sans-serif;
                    font-size: 26px;
                    font-weight: 500;
                    color: #5a5b5d;
                    margin: 0 35px;
                }
            }
        }
    }
}

.about {
    background-color: #feab11;
    color: #fff;
    padding-bottom: 40px;

    .about-heading {
        background-color: #f9a60c;
        font-size: 32px;
        padding: 40px 0 20px 0;
        font-weight: 700;
        position: relative;
        text-align: center;
        margin-bottom: 40px;

        &:after {
            content: "\f129";
            font-family: 'FontAwesome';
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: 55px;
            height: 55px;
            background-color: #f9a60c;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:before {
            content: '';
            position: absolute;
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
            width: 65px;
            height: 65px;
            background-color: #f8fafa;
            border-radius: 50%;
        }
    }

    .about-text {
        max-width: 500px;
        margin: 0 auto 20px auto;
        text-align: justify;
        font-size: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.portfolio {
    .portfolio-items {
        display: flex;

        .portfolio-item {
            width: 33.33%;
            width: 100%;
            height: 400px;
            background: url('../img/portfolio-item1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;

            .git-link {
                height: 100%;
                width: 50%;
            }

            .live-link {
                width: 50%;
                height: 100%;
            }
        }
    }
}

.technology-items {
    display: flex;
    justify-content: space-between;

    .technology-item {
        width: 10%;
        height: 300px;

        .technology-img {
            width: 100%;
        }
    }
}