@import 'reset';
@import 'fonts';

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-wrapper {
    background: url('../img/header-background.jpg');
    background-size: cover;
    background-position-y: 70%;

    .olender-header {
        .top-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 88vh;
            justify-content: flex-start;

            .menu {
                margin: 40px 0 40px 0;
                text-align: center;

                a {
                    font-family: 'Roboto', sans-serif;
                    font-size: 26px;
                    font-weight: 500;
                    color: #5a5b5d;
                    margin: 0 35px;
                }
            }
        }
    }
}

.about {
    background-color: #feab11;
    color: #fff;
    padding-bottom: 40px;

    .about-heading {
        background-color: #f9a60c;
        font-size: 32px;
        padding: 40px 0 20px 0;
        font-weight: 700;
        position: relative;
        text-align: center;
        margin-bottom: 40px;

        &:after {
            content: "\f129";
            font-family: 'FontAwesome';
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: 55px;
            height: 55px;
            background-color: #f9a60c;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:before {
            content: '';
            position: absolute;
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
            width: 65px;
            height: 65px;
            background-color: #E0DFDA;
            border-radius: 50%;
        }
    }

    .about-text {
        max-width: 500px;
        margin: 0 auto 20px auto;
        text-align: justify;
        font-size: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.portfolio {
    .portfolio-items {
        display: flex;

        .portfolio-item {
            width: 33.33%;
            width: 100%;
            height: 400px;
            background: url('../img/portfolio-item1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;

            .git-link {
                height: 100%;
                width: 50%;

                &:hover a {
                    opacity: 1;
                }

                a {
                    opacity: 0;
                    transition: all 0.4s;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: center;
                    background-color: rgba(249, 166, 12, 0.7);
                    width: 100%;
                    height: 100%;
                    font-weight: 700;
                    font-size: 40px;
                    text-align: center;
                    color: #fff;

                    span {
                        width: 100%;
                        font-size: 50px;
                        margin-bottom: 5px;
                    }
                }

            }

            .live-link {
                width: 50%;
                height: 100%;

                &:hover a {
                    opacity: 1;
                }

                a {
                    opacity: 0;
                    transition: all 0.4s;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: center;
                    background-color: rgba(255, 255, 255, 0.7);
                    width: 100%;
                    height: 100%;
                    font-weight: 700;
                    font-size: 68px;
                    text-transform: uppercase;
                    text-align: center;
                    color: #000;
                }
            }
        }
    }
}

.technology {
    background: url('../img/skills.jpg');
    .technology-heading{
        padding: 20px 0 40px 0;
        text-align: center;
        font-size: 32px;
        font-weight: 700;

    }
    .technology-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: -10px;
        width: calc(100% + 20px);

        .technology-item {
            width: calc(25% - 20px);
            text-align: center;
            margin: 0 10px 50px 10px;

            .technology-img {
                width: 200px;
                transition: all 0.2s;
                filter: grayscale(100%);
                opacity: 0.4;
                &:hover{
                    transform: scale(1.1);
                    filter: grayscale(0);
                    opacity: 1;
                }
            }
            .technology-name{
                text-align: center;
                margin-top: 15px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}

.footer{
    background-color: #fea809;
    padding: 25px 0;
    .footer-wrapper{
        display: flex;
        flex-wrap: wrap;
        .left-footer{
            width: 50%;
        }
        .contact-data{
            width: 50%;
            padding-left: 20px;
            .contact-item{
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                .icon{
                    color: #fff;
                    margin-right: 10px;
                }
                .map{
                    font-size: 30px;
                    margin-right: 12px;
                }
                .mobile{
                    font-size: 35px;
                }
                .envelope{
                    font-size: 20px;
                }
                .contact-text{
                    color: #fff;
                    font-size: 25px;
                }
            }
        }
    }
}