@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Lato", sans-serif;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

.container {
  width: 1280px;
  margin: 0 auto; }

.header-wrapper {
  background: url("../img/header-background.jpg");
  background-size: cover;
  background-position: bottom;
  padding-bottom: 400px; }
  .header-wrapper .olender-header .top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header-wrapper .olender-header .top-content .menu {
      margin: 40px 0 100px 0;
      text-align: center; }
      .header-wrapper .olender-header .top-content .menu a {
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        font-weight: 500;
        color: #5a5b5d;
        margin: 0 35px; }

.about {
  background-color: #feab11;
  color: #fff;
  padding-bottom: 40px; }
  .about .about-heading {
    background-color: #f9a60c;
    font-size: 32px;
    padding: 40px 0 20px 0;
    font-weight: 700;
    position: relative;
    text-align: center;
    margin-bottom: 40px; }
    .about .about-heading:after {
      content: "\f129";
      font-family: 'FontAwesome';
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: 55px;
      height: 55px;
      background-color: #f9a60c;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .about .about-heading:before {
      content: '';
      position: absolute;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);
      width: 65px;
      height: 65px;
      background-color: #f8fafa;
      border-radius: 50%; }
  .about .about-text {
    max-width: 500px;
    margin: 0 auto 20px auto;
    text-align: justify;
    font-size: 20px; }
    .about .about-text:last-of-type {
      margin-bottom: 0; }

.portfolio .portfolio-items {
  display: flex; }
  .portfolio .portfolio-items .portfolio-item {
    width: 33.33%;
    width: 100%;
    height: 400px;
    background: url("../img/portfolio-item1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; }
    .portfolio .portfolio-items .portfolio-item .git-link {
      height: 100%;
      width: 50%; }
    .portfolio .portfolio-items .portfolio-item .live-link {
      width: 50%;
      height: 100%; }
